@(title: String, paragraphs: Seq[String], images: Seq[(String, String)])  <!-- Parameters for dynamic content -->

@main("Training") {
    <!DOCTYPE html>
    <html lang="en">
    <head>
         <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    </head>
    <body>

        <br> <br> <br><br>
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.bundle.min.js")"></script>
        <div class="article-page">
            <div class="article-header">
                <h1>@title</h1>
            </div>
            
            <div class="article-content">
                @for(paragraph <- paragraphs) {
                    <p>@paragraph</p>
                }
                
                <div class="photo-gallery">
                    @for((src, alt) <- images) {
                        <img src="@routes.Assets.versioned(src)" alt="@alt">
                    }
                </div>
            </div>
        </div>
        <div id="root"></div>  <!-- React will render the page here -->

        <script type="text/babel" src="@routes.Assets.versioned("javascripts/article.js")"></script>

        
    </body>
    </html>

    
}