@()
@main("Blog Main Page"){
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Czech Blog</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/crossicon.png")">
    <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
   
    <script src="https://unpkg.com/react/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
    
    <script src="https://unpkg.com/react@@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@@18/umd/react-dom.development.js"></script>
</head>
<body>
    
    <div id="root"></div>
    <nav class="tabs">
        <a href="/blog" class="active">Home</a>
        <a href="/training">1. Training</a>
        <a href="/article2">2. Prep and Ostrava Life</a>
        <a href="/article3">3. Camp #1</a>
        <a href="/article4">4. Camp #2</a>
        <a href="/article5">5. Camp #3</a>
        <a href="/article6">6. End of Summer Revelations</a>
    </nav>
    <div class="main">
        <div class="main_container">
            <div class="main_content">
                <div class="jumbotron text-center">
                    <h2>Samuel Pappas's </h1>
                    <h1>2024 Summer e-Scrapbook</h1>
                    <h3>Czech Republic Mission Adventure with Josiah Venture</h3>
                </div>
                <button class="main_but"> <a href="/">Re-Live the Summer </a> </button>
                <!-- <img src="@routes.Assets.versioned("images/czech.png")" alt="nation flag map"> -->
                
                <!-- <img src="@routes.Assets.versioned("images/down.png")" alt="down arrow"> -->
                
            </div>
        </div>
        
        <div class="scroll-arrow">
            &#x2193; <!-- This is the down arrow symbol -->
        </div>

        <div class="content-section">
            <div class="column-container">
                <div class="column">
                    <p>I created this web page as an electronic scrapbook - something to help remember and memorialize a wonderful part of my life! Thanks for checking it out.</p>
                </div>
                <div class="column">
                    <div id="root"></div>
                    <p>This is some text in the second column. You can add more content here.</p>
                </div>
            </div>
        </div>
        
    </div>
    

    <!-- Footer Section -->
    <footer>
        <p>© 2024 Samuel Pappas. </p>
    </footer>
    <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/main.js")" defer></script>
</body>
</html>
}