@()  <!-- Parameters for dynamic content -->

@main("Weeks 2-4: Prep and Ostrava") {
    <!DOCTYPE html>
    <html lang="en">
    <head>
         <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">

    </head>
    <body>

        <br> <br> <br><br>

        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.bundle.min.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">

        
        <!-- <div id="root"></div> React will render the page here -->

        <div class="main">
            <div class="main_container">
                <div class="main_content">
                    <div class="jumbotron text-center">
                        <div class="article-header">
                            <h1>Weeks 2-4:</h1> 
                            <h1>Prep and Ostrava</h1>
                        </div>
                        <h3>Czech Republic Mission Adventure with Josiah Venture</h3>
                    </div>                                    
                </div>
            </div>
            
            
            
            <div class="article-content">
                
                    
                    <div class="photo-gallery">
                            <img src="@routes.Assets.versioned("public/images/boys.jpeg")" alt="test alt">
                    </div>
            </div>
    
            <div class="content-section">
                <div class="column-container">
                    <div class="column">
                        <p>I created this web page as an electronic scrapbook - something to help remember and memorialize a wonderful part of my life! Thanks for checking it out.</p>
                    </div>
                    <div class="column">
                        <p>This is some text in the second column. You can add more content here.</p>
                    </div>
                </div>
            </div>
            
        </div>        




        <script src="@routes.Assets.versioned("javascripts/article.js")"></script>

        
    </body>
    </html>

    
}